@font-face {
    font-family:"Source Han Serif TW Heavy";
    src: url("/fonts/SourceHanSerifTW-Heavy.otf");
}

.root {
    -fx-font-family: "Source Han Serif TW Heavy";
}



/* 上方按鈕列外觀 */
.top-bar {
    -fx-background-color: #ffffff;
    -fx-padding: 15 30 15 30;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 2px 0;
    -fx-spacing: 25;
}

.inset-tray {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 20;
    -fx-padding: 30 40;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.2), 10, 0.4, 3, 3);
}

/* 圖示按鈕本體（透明底 + 圓形黑框 + hover 放大） */
.icon-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-weight: light;
    -fx-font-size: 16px;
    -fx-padding: 5;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.4, -3, -3);
    -fx-cursor: hand;
    -fx-pref-width: 110;
    -fx-pref-height: 40;
    -fx-min-width: 90;
    -fx-max-width: 120;
}

.icon-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #DBDBDB; /* hover 淺底 */
}

.clean-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.clean-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.scramble-input {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 12;
    -fx-border-color: transparent;
    -fx-font-size: 20px;
    -fx-font-family: "Consolas";
    -fx-padding: 8 14;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.time-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-padding: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.4, -3, -3);
    -fx-border-color: #dddddd;
    -fx-pref-height: 30;
}
.time-text {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}
