/* 上方按鈕列外觀 */
.top-bar {
    -fx-background-color: #ffffff;
    -fx-padding: 15 30 15 30;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 2px 0;
    -fx-spacing: 25;
}

/* 圖示按鈕本體（透明底 + 圓形黑框 + hover 放大） */
.icon-button {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.3, 0, 2);
    -fx-cursor: hand;
    -fx-pref-width: 110;
    -fx-pref-height: 120;
}

.icon-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color:  #FFE8CD;  /* 淺灰色 */
}

/* 內部文字樣式 */
.icon-button > VBox > Label {
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 2 8;
}
.icon-button {
    -fx-min-width: 90px;
    -fx-min-height: 40px;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-max-width: 120px;
    -fx-max-height: 60px;
}

.cube-container {
    -fx-background-color:#FFE8CD;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-padding: 20;
}

.clean-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.clean-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}